<div class="caixa mx-auto">
    <h2 class="text-center">Realizar Pedido</h2>

    <div class="alert alert-{{tipoAlert}} alert-dismissible fade show" role="alert" *ngIf="mostrarAlert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form class="row g-3 my-4" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="col-md-8 mb-3">
            <label class="form-label">Cliente a atender</label>
            <select id="selectCliente" class="form-select" aria-label="Selecionar cliente" (change)="pegarCliente($event)">
                <option selected>Selecione o cliente</option>
                <option *ngFor="let cliente of clienteList" [value]="cliente.id">
                    {{cliente.nome}}
                </option>
            </select>
        </div>

        <div class="col-md-8">
            <label class="form-label">Tipo de lavagem</label>
            <select id="selectStatus" formControlName="tipoLavagem" class="form-select" aria-label="Seleção de lavagem">
                <option selected>Selecione o tipo</option>
                <option value="1">Lavagem 1</option>
                <option value="2">Lavagem 2</option>
                <option value="3">Lavagem 3</option>
            </select>
        </div>

        <div class="col-md-8 mb-3">
            <label class="form-label">Máquina(s) a utilizar</label>
            <button class="btn btn-success col-12 dropdown-toggle" type="button" id="dropdownMaquina"
                data-bs-toggle="dropdown" aria-expanded="false">
                Selecione as Máquinas...
            </button>

            <div class="dropdown-menu col-md-4" aria-labelledby="dropdownMaquina">
                <div *ngFor="let maquina of maquinaList; index as i">
                    <input class="form-check-input mx-2" type="checkbox" id="flexMaquina{{i}}" (change)="pegarMaquina($event,maquina,i)">
                    <label class="form-check-label me-3" for="flexMaquina{{i}}">
                        {{maquina.nome}}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-8 mb-3">
            <label class="form-label">Produto(s) a utilizar</label>
            <button class="btn btn-success col-12 dropdown-toggle" type="button" id="dropdownProduto"
                data-bs-toggle="dropdown" aria-expanded="false">
                Selecione os Produtos...
            </button>

            <div class="dropdown-menu col-md-4" aria-labelledby="dropdownProduto">
                <div *ngFor="let produto of produtoList; index as i">
                    <input class="form-check-input mx-2" type="checkbox" id="flexProduto{{i}}" (change)="pegarProduto($event,produto,i)">
                    <label class="form-check-label me-3" for="flexProduto{{i}}">
                        {{produto.nome}}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <label class="form-label">Funcionário(a) responsável</label>
            <select id="selectFuncionario" class="form-select" aria-label="Seleção de Funcionário" (change)="pegarFuncionario($event)">
                <option selected>Selecione um(a) Funcionário(a)..</option>
                <option *ngFor="let funcionario of funcionarioList" [value]="funcionario.id">
                    {{funcionario.nome}}
                </option>
            </select>
        </div>

        <div class="d-flex col-md-12 mb-4">
            <div class="col-md-2">
                <label class="form-label">Deseja entrega?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadio" id="flexRadioSim" (change)="onChange($event)">
                    <label class="form-check-label" for="flexRadioSim">
                      Sim
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadio" id="flexRadioNao" (change)="onChange($event)">
                    <label class="form-check-label" for="flexRadioNao">
                        Não
                    </label>
                </div>
            </div>

            <div class="col-md-3 mx-2 mb-3">
                <label for="inputPeso" class="form-label">Peso da roupa</label>
                <input type="number" class="form-control" formControlName="pesoRoupa" id="inputPeso" placeholder="Peso (kg)">
            </div>

            <div class="col-md-3 mb-3">
                <label for="inputValor" class="form-label">Valor Total</label>
                <input type="number" class="form-control" formControlName="valorTotal" id="inputValor" [value]="orcamento" readonly>
            </div>
        </div>

        <div class="col-md-12 mt-4">
            <button type="submit" class="btn btn-primary me-4">Enviar</button>
            <button type="reset" class="btn btn-secondary" id="resetaForm">Resetar</button>
        </div>
      </form>
</div>