<div class="caixa mx-auto">
  <h2 class="text-center">Cadastrar Máquina</h2>

  <div class="alert alert-{{ tipoAlert }} alert-dismissible fade show" role="alert" *ngIf="mostrarAlert">
    {{ message }} <i class="fa-solid fa-spinner fa-spin fa-lg mx-2" *ngIf="mostrarSpin"></i><div *ngIf="mostrarSpin">Aguarde...</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <form class="row g-3 my-4" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="col-md-8 mb-3">
      <label for="inputNome" class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="inputNome" />
    </div>
    <div class="col-md-8 mb-3">
      <label for="inputTipo" class="form-label">Tipo</label>
      <select class="form-select" formControlName="tipo" aria-label="Selecionar o tipo">
        <option selected>Selecione o tipo</option>
        <option value="Lavadora">Lavadora</option>
        <option value="Secadora">Secadora</option>
        <option value="Lava e Seca">Lava e Seca</option>
      </select>
    </div>
    <div class="col-md-8 mb-3">
      <label for="inputValor" class="form-label">Valor</label>
      <input type="number" class="form-control" formControlName="valor" id="inputValor" min="0" />
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary me-4">Enviar</button>
      <button type="reset" class="btn btn-secondary" id="resetaForm">
        Resetar
      </button>
    </div>
  </form>
</div>
