<div class="fundo_caixa">
    <div class="caixa mx-auto text-center">
        <h1 class="mb-5">Lave e seque suas roupas com qualidade e praticidade</h1>
    
        <div class="my-4 text-start">
            <p>A Lava&Seca Top Clean é uma empresa especializada em serviços de lavagem e secagem de roupas. Oferecemos um serviço de qualidade, com profissionais experientes e equipamentos modernos.</p>
            <p>Nossos serviços são personalizados para atender às suas necessidades. Podemos lavar e secar roupas de qualquer tipo, incluindo roupas de cama, roupas íntimas, roupas de festa e roupas de trabalho.</p>
            <p>Também oferecemos serviços de lavanderia e tinturaria.</p>
            <p>Peça seu orçamento agora mesmo!</p>
            <p class="fw-medium">
                <i class="fa-solid fa-spray-can-sparkles fa-bounce fa-xl me-2"></i>[Botão de ação]
            </p>
        </div>
    </div>
</div>